// STYLE CONFIGURATION
// ____________________________________

$pkg:                           'cnn-hangman';



// COLORS
$black:                             #0c0c0c!default;
$red:                               #f44455!default;
$white:                             rgba(255, 255, 255, 0.8)!default;



// BREAK POINTS
$large-desktop:                     1120px;
$med-desktop:                       1024px;
$desktop:                           800px;
$tablet:                            568px;
$mobile:                            480px;



// LAYOUT
$max-width:                         1100px;
$min-width:                         320px;



// BORDERS
$border-width:                      3px;
